.bookmarks-heading{
    font-family: 'Bebas Neue',sans-serif;
    font-size:2rem;
    font-weight:300;
    color:#ddd;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.bookmarks-list{
    display: flex;
    flex-direction:column;
    gap:1.5rem;
}

.bookmark-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
    cursor: pointer;
}


.bookmark-item img{
    width:7rem;
    height:7rem;
    border-radius: 0.8rem;
    margin-right:1rem;
}


.bookmark-item h3{
    font-family: 'Comfortaa',sans-serif;
    font-size:1.5rem;
    font-weight:bold;
}

.delete-button{
    color:#b99efb;
    font-size:2.4rem;
    cursor:pointer;
}